body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background: #EEEEEE;
}

.container {
  width: 270px;
  background: #fff;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
}

#timer {
  height: 120px;
  line-height: 120px;
  background: #DDDDDD;
  margin-bottom: 15px;
  font-size: 40px;
}

.btn {
  width: 80px;
  height: 45px;
  line-height: 45px;
  background: #DDDDDD;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.inactive {
  opacity: 0.6;
}